# **Welcome to the Financial Programming with Python**

### Quick tips

When working in a Google Colaboratory notebook, **Shift-Return (Shift-Enter)** runs the cell you're on.  You can also run the cell using the "Play" button at the left edge of the cell.

There are many other keyboard shortcuts.  You can access the list via the menu bar, at **Tools-->Command palette**.  In fact, you can even customize your keyboard shortcuts using **Tools-->Keyboard shortcuts**.


> (If you're working in an Anaconda/Jupyter notebook:
- Shift-Return (Shift-Enter) runs the cell you're on.  You can also run the cell using the "Play" button in the toolbar.
- Esc, then A inserts a cell above where you are.
- Esc, then B inserts a cell below where you are.
- More shortcuts under Help --> Keyboard Shortcuts)


You will probably get some errors in working through this notebook.  That's okay, you can just go back and change the cell and re-run it.

The notebook auto-saves as you work, just like gmail and most Google apps.





# Variables

The first thing we're going to do is to learn about **variables**.  Variables are a way to store values that can be numbers, text, lists, boolean (true/false), etc.

Much like in algebra, you set the value of a variable using what looks like an equation.

To run this next cell, click on it and either press Shift-Enter, or press the Play ("run cell") button in the toolbar.

In [ ]:
price = 7.99

So let's see the effect of that, by having Python **evaluate** our variable called `price`.  Again, press Shift-Enter, or press the Play ("run cell") button in the toolbar.

In [ ]:
price

7.99

Next, set the value of a new variable to your name.   A couple of things you'll need to know:
* Variable names can't contain spaces or special characters (except `_` )
* String values (like words or text) must be contained in a pair of either matching single quotes or matching double quotes.  For example:  `'This is some text'` or `"This is some text"`

In [ ]:
name = '재무계산프로그래밍'

In [ ]:
name

'재무계산프로그래밍'

If you have another language installed on your computer (Chinese, Arabic, etc.), try using foreign characters in your string.  Python 3 handles these well.

An example might be: 

```
someText = 'سلام'
```

In [ ]:
someText = '김강민'

In [ ]:
someText

'김강민'

What if we wanted to do some simple math using these variables?

* Create a new variable called `quantity` and set it to a number.
* Create another new variable called `extended_price` and set it to the product of price \* quantity (use `*` for multiplying)

In [ ]:
quantity = 5
extnded_price = price * quantity

In [ ]:
extnded_price

39.95


What happens if you try multiplying the name variable by 4?

In [ ]:
someText * 4

'김강민김강민김강민김강민'

How about if you *divide* it by 2?  Add a number to it?  Add another name to it (using `+`)?

In [ ]:
someText + '멋있다'

'김강민멋있다'

In [ ]:
name = name + 'handsome어렵다'

In [ ]:
name

'재무계산프로그래밍handsome어렵다어렵다handsome어렵다'

What we're starting to see here is that Python has different **types** for numbers, text, and more.  You can find out the type of a variable by using:

**`type(`**put your variable here**`)`** 

Try it.

In [ ]:
type(name)

str

Numbers, by the way, aren't just numbers.  Look at the type of the `price` variable versus another variable set to `7`.

You can even re-assign an existing variable to new type.  Try it!

With type() function, you can identify the number is whether float, int, stirng

In [ ]:
price = 7
type(price)

int

There's also another important basic variable type, called a **boolean** variable.  Booleans can have a value of **`True`** or **`False`** (capitalized, in Python)

Create a variable called `ajoustudent` and assign its value to `True`:

In [ ]:
ajoustudent = True

In [ ]:
type(ajoustudent)

bool

Now evaluate the `type()` of ajoustudent.

#### Comparison operators:  <, >, ==, !=, <=, >=, and, or, not, ...

Try out some comparisons, for example, whether:
* `price` is greater than 5.99
* `name` is equal to "Dan"

In [ ]:
price > 5.99

True

In [ ]:
name = 'Dan'

In [ ]:
name == 'Dan'

True

In [ ]:
price == 9.50

False

In [ ]:
(price == 9.50) and (name == 'Dan')

False

# Lists and Tuples

**Lists** in Python hold an _ordered_ sequence of elements, like this:

`states = ['Virginia', 'Maryland', 'New Jersey', 'Utah', 'Rhode Island']`

Try creating a list of several countries.

In [ ]:
countries = ['Canada', 'Uganda', 'Australia', 'Russia', 'France', 'China']

We can access the n'th element of a list using the `mylist[n]` notation.

Try retrieving the first country in the list you created above.

In [ ]:
countries[0]

'Canada'

Notice that in Python, the first element of the list is really the "0th" element (this is not the case when programming in R!)

You can also access parts of the list using syntax like: [0:2], [:2], [3:], [-2],[-2:].  See if you can figure out what these do.

In [ ]:
countries[1:3]

['Uganda', 'Australia']

In [ ]:
countries[0:2]

['Canada', 'Uganda']

In [ ]:
countries[-2:5]

['France']

In [ ]:
countries[-1]

'China'

Lists come with useful functions, like `len(mylist)` which returns the** length of the list**.  Try using `len()`

In [ ]:
len(countries)

6

What if you wanted to add an element to a list?  Or remove an element from a list?  Try using:

`mylist.append(<the new element>)`
for example, `states.append('New York')`

In [ ]:
countries.append('Spain')
countries

['Canada', 'Uganda', 'Australia', 'Russia', 'France', 'China', 'Spain']

In [ ]:
countries.reverse()
countries

['Spain', 'China', 'France', 'Russia', 'Australia', 'Uganda', 'Canada']

In [ ]:
countries.insert(5,'Mexico')

In [ ]:
countries

['Spain',
 'China',
 'France',
 'Russia',
 'Australia',
 'Mexico',
 'Uganda',
 'Canada']

In [ ]:
countries[0] = 'Italy'
countries

['Italy',
 'Egypt',
 'France',
 'Russia',
 'Australia',
 'Mexico',
 'Uganda',
 'Canada']

In [ ]:
countries
countries[0:2] = ['Algeria', 'Egypt']
countries

['Algeria',
 'Egypt',
 'France',
 'Russia',
 'Australia',
 'Mexico',
 'Uganda',
 'Canada']

There are also list functions to do things like insert, remove, sort, reverse.  You can also use the `+` operator to add lists together. You can even multiply a list by a number, similar to how earlier we multiplied a string by a number!

Try adding a list of two new states to your list.

In [ ]:
type(True)

bool

In [ ]:
['a', '6', True, False]

['a', '6', True, False]

So far, we've only created lists of strings (text).  Do you think Python will let you have a list with a mix of different types in it (numbers, strings, other lists, etc.)?  Try it.

In [ ]:
['Korea', 3, 'BTS', True]

['Korea', 3, 'BTS', True]

Strings (like your name variable) also have some list-like behaviors, because they're lists of individual charactres.  How might you get the the n'th character from a string?

### Tuples

Notice that we created a list using [] square brackets.  If we use () parentheses, we create what's called a *tuple*.  A tuple might be something like this:

In [ ]:
colors = ('blue', 'green', 'red')

Notice that tuples are like lists: you can access elements, etc.  But what if you try to append to a tuple?

In [ ]:
colors.index('green')

1

### The "in" operator

We can use `in` to see whether an element is found in a list.  Try running this:

In [ ]:
'yellow'in colors

False

In [ ]:
'green' in colors

True

# Dictionaries 
#Prettly unique in Python

A **Dictionary** is a container that holds pairs of objects - keys and values.  Keys may be strings or numbers.  A value may be any type, whether an integer, string, boolean, list, etc.  It can even be another dictionary!

Here's an example of a dictionary:

In [ ]:
workshop = {'name': 'Programing With Python',
            'duration' : 2,
            'instructors': ['Dan','Laura', 'Dolsy', 'Sahiti'],
            'awesome' : True}

So dictionaries are very similar to lists, except that they're indexed with keys.

Dictionaries are actually data structures that can represent objects in **JSON** (JavaScript Object Notation) format, which today is a very common way of representing data!

How do you think you would access the value of `'instructors'` key from the `workshop` dictionary?

In [ ]:
workshop

{'awesome': True,
 'duration': 2,
 'instructors': ['Dan', 'Laura', 'Dolsy', 'Sahiti'],
 'name': 'Programing With Python'}

In [ ]:
workshop['duration']

2

How do you think you would ***add*** an item to the dictionary?  Try adding a 'location' item.  How about replacing an item?

In [ ]:
workshop['location'] = 'Dasan 406'
workshop

{'awesome': True,
 'duration': 2,
 'instructors': ['Dan', 'Laura', 'Dolsy', 'Sahiti'],
 'location': 'Dasan 406',
 'name': 'Programing With Python'}

### Challenge

How might you add two more names to the list of instructors?  (Challenge:  Try to do this in one line, *without* just overriding the list of instructors)

In [ ]:
workshop['instructors'] = workshop['instructors'] +['Kang'] 
workshop

{'awesome': True,
 'duration': 2,
 'instructors': ['Dan', 'Laura', 'Dolsy', 'Sahiti', 'Kang'],
 'location': 'Dasan 406',
 'name': 'Programing With Python'}

In [ ]:
workshop['instructors'].remove('Kang')
workshop

{'awesome': True,
 'duration': 2,
 'instructors': ['Dan', 'Laura', 'Dolsy', 'Sahiti'],
 'location': 'Dasan 406',
 'name': 'Programing With Python'}

We can also look up whether a certain key exists in a dictionary.  How might you evaluate whether or not `workshop` contains a `location` key?

In [ ]:
'location'in workshop
# in operator 는 불리안 함수만을 결과로 프린트

True

# Comments

Comment lines start with `#`.  They don't execute any code, but it's a very good idea to comment your code so that the reader (which might be your future self) can understand anything that's not already obvious from your clear and well-written code.

In [ ]:
#코멘트

In [ ]:
#This is a comment and is for the reader's benefit

# Iteration (looping)

Iteration allows us to repeat over a section of code, and iterate through a list (or other "iterable") at the same time.  **`for`** and **`while`** create iterations, like this:

```
numbers = [4, 6, 0, 5.5, 3]
for n in numbers:
    print("The next number in the list, squared is ", n**2)
    
print("We're done iterating -- notice that this line isn't indented, so it's outside the loop")
```    

and this brings up the topic of **indentation**!  The block (i.e., lines) of code that you're iterating over needs to be indented.  In Python, you should indent by 4 spaces.

Try creating a list of exam scores that we'd like to grade on a curve.  Use `max()` to find out the highest score.  Then create an iteration that prints out the score as well as the score graded on a curve (by dividing by the highest score).

In [ ]:
scores = [80, 91, 77, 50.5, 43, 88,81]

In [ ]:
max(scores)

91

In [ ]:
curvedscores = []

for score in scores :
  c = curvedscores.append(100*score/max(scores))
  print('the student got a', score, 'which curves to a', c)

print('Done')

the student got a 80 which curves to a None
the student got a 91 which curves to a None
the student got a 77 which curves to a None
the student got a 50.5 which curves to a None
the student got a 43 which curves to a None
the student got a 88 which curves to a None
the student got a 81 which curves to a None
Done

In [ ]:
 grade = ['*']*len(scores)
 print(grade)

 for s in scores :
   index = scores.index(s)
   if s >= 90 :
       grade[index] = "A"
   elif s>= 85:
     grade[index] = "A"
   else :
         grade[index] = "B"
  
print(grade)

['*', '*', '*', '*', '*', '*', '*']
['B', 'A', 'B', 'B', 'B', 'A', 'B']

In [ ]:
grade = ['*']*len(scores)
print(grade)

for s in scores :
  index = scores.index(s)
  if s>= 85 :
    grade[index] = "A"
  else :
    grade[index] = "B"
print(grade)

['*', '*', '*', '*', '*', '*', '*']
['B', 'A', 'B', 'B', 'B', 'A', 'B']

Iterating over dictionaries is slightly different:

In [ ]:
for key, value in  workshop.items():
  print("The key is",key,"and the value is", value)

The key is name and the value is Programing With Python
The key is duration and the value is 2
The key is instructors and the value is ['Dan', 'Laura', 'Dolsy', 'Sahiti']
The key is awesome and the value is True
The key is location and the value is Dasan 406

In [ ]:
workshop.items()

dict_items([('name', 'Programing With Python'), ('duration', 2), ('instructors', ['Dan', 'Laura', 'Dolsy', 'Sahiti']), ('awesome', True), ('location', 'Dasan 406')])

Notice that dictionaries are unordered.  There's no guarantee about what order the iterator will yield the dictionary items to you in.

In [ ]:
for name, duration in workshop.items():
  print('name is', name, 'and the duration is',duration)

name is name and the duration is Programing With Python
name is duration and the duration is 2
name is instructors and the duration is ['Dan', 'Laura', 'Dolsy', 'Sahiti']
name is awesome and the duration is True
name is location and the duration is Dasan 406

### Another way to iterate: `while`

What if we don't have a list or other "iterable" for our for loop to iterate over? In that case, you can also loop using **`while`**.

Let's keep adding random numbers (between 1 and 10) until the sum hits at least 50.  We can use Python's `random` library, which we first need to import:

In [ ]:
import random

In [ ]:
random

In [ ]:
random.randint(1,10)

9

In [ ]:
sum_so_far = 0

while sum_so_far < 50 :
  sum_so_far = sum_so_far + random.randint(1,10)
  print(sum_so_far)

5
7
13
20
27
30
32
34
35
40
41
46
49
53

Now for the `while` loop:

sum_so_far = 0 
while sum_so_far < 50:
    # What would you put in here?

### A random side note:
    
Try running the cell above with `random.randint(1,10)` again and again.  In a scientific setting, how might you ensure that your random sequence is "repeatable"?

In [ ]:
random.seed(100)

### Another use of while:

One way you might see `while` used is with **`while True`** which just continues indefinitely:

In [ ]:
lucky_number = 7

while True : 
  a_number = random.randint(1,10)
  if a_number != lucky_number :
    print("No!!!! Didn't get a", lucky_number)
  else:
    print("Yes!!! Got a lucky", lucky_number, "-- 드디어 룹이 끝났다!")
    break

No!!!! Didn't get a 7
Yes!!! Got a lucky 7 -- 드디어 룹이 끝났다!

What does the `break` statement do?

## Conditionals

Notice that in the example above, we snuck in the use of **`if`** and **`else`**.  Conditional expressions, using `if`, `else`, and `elif` (a contraction of "else if") allow us to execute blocks of code only if the condition is true.

Create some code that iterates through a list of exam scores.  If a score is 70 or above, it should print out "Pass!"  If it's below 70, it should print out "Fail!"

In [ ]:
scores = [61, 95, 70, 80, 99]
ls = len(scores)

print(ls)

grade = [1] * ls

print(grade)

5
[1, 1, 1, 1, 1]

In [ ]:
for s in scores :
  print(s)
  i = scores.index(s)
  print(i)

  if s >= 95 :
    grade[i] = "A"
    print(grade)

61
0
95
1
[1, 'A', 1, 1, 'A']
70
2
80
3
99
4
[1, 'A', 1, 1, 'A']

In [ ]:
ls = len(scores)
grade = [1]*ls

for s in scores :
  i = scores.index(s)
  if s>= 95:
    grade[i] ="A"
print(grade)

[1, 'A', 1, 1, 'A']

## Functions

We've already seen some built-in functions, such as `print()`, `max()`, and `len()`.  But Python is meant to be used with more than just its built-in functions.

Let's try to take the square root of a number in Python, using `sqrt()`:

In [ ]:
import math

In [ ]:
import math as m

In [ ]:
m.sqrt(8)

2.8284271247461903

What happened?  But I googled and saw that the square root function in Python is called `sqrt()`!

### Importing libraries and using their functions

Libraries are sets of Python functions that you can "import" to make available and use with *your* code.

There are libraries that are part of Python, such as `math`, and libraries that other people write, such as `numpy`.

We can import the math library into our code with:

```import math```

Each time we call a function that's in a library, we use the syntax ***LibraryName.FunctionName***. Adding the library name with a . before the function name tells Python where to find the function.

Let's try taking that square root again:

In [ ]:
m.sqrt(2)

1.4142135623730951

In [ ]:
math.sqrt(2)

1.4142135623730951

And if we want, we can do something like this:

```from math import sqrt```

See if you can figure out what effect that had:

In [ ]:
sqrt(2)

NameError: ignored

When might you choose

```import some_library```

versus

```from some_library import some_function```

or even

```from some_library import *``` ?

In [ ]:
x = dir(math)
print(x)

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

### Writing our own functions

What if we want to write our own functions?

Defining part of a program in Python as a function is done using the `def` keyword. For example a function that takes a temperature in degrees Fahrenheit and returns the temperature in degrees Celsius:

In [ ]:
def fahreinheit2celcius(temp_fahr):
  temp_celsius = (temp_fahr -32)*5/9
  return temp_celsius

Now we can use it:

In [ ]:
c=fahreinheit2celcius(100)
print(c)

37.77777777777778

### What's variable "scope"?

Let's say we had defined our function like this, using a variable called `ratio` instead of `5/9`:

In [ ]:
#scope 망원경 (내재되는 내용은 반영 안됨)
def fahreinheit2celcius(temp_fahr):
   ratio = 5/9
   temp_celsius = (temp_fahr -32)*ratio 
   return temp_celsius

What happens if we then try to print `ratio`?

In [ ]:
print(ratio)
#내부적으로 정의된 내용은 print가 안됨됨

NameError: ignored

Why did we get this error?

In [ ]:
c= fahreinheit2celcius(100)
print(c)

37.77777777777778

### A bit more about passing values to functions

Remember earlier how we graded test scores on a curve?  Let's make a function to do that.  We'll pass it the individual test score, and the top score that will be our new "100%":

In [ ]:
def curve(score, top_score =90):
  return 100*score/top_score

In [ ]:
curve(89)
#top_score을 기준으로 환산한 점수

98.88888888888889

In [ ]:
curve()

TypeError: ignored

Now, if we specify which parameter is which, we can pass them in any order we like!

In [ ]:
curve(top_score =96, score =89)
# 순서는 상관없음

92.70833333333333

Key points here:

- definition starts with **`def`**
- function body is indented
- parameters are matched "in order", unless we specify them by name
- **`return`** keyword precedes returned value

### Challenge

Can you create a function called `pad` that would take a list and pads it with some new item if it's less than the length you want?  You would use it like this:

```
names = ['Ali', 'Bob', 'Carla']
names = pad(names, 5, '*')
```
Then `names` would evaluate to:
```
['Ali', 'Bob', 'Carla', '*', '*']
```

In [ ]:
def pad(mylist, newlength, padstring = ''):
  padlength = newlength - len(mylist)
  padlist = [padstring] * padlength
  newlist = mylist + padlist

  return newlist

In [ ]:
pad(['A', 'B', 'C'],10, '강민')

['A', 'B', 'C', '강민', '강민', '강민', '강민', '강민', '강민', '강민']